<div class="center-page">
  <div class="page-container position-relative">
    <app-loader [isLoading]="isLoadingPage"></app-loader> 

    <h2 class="page-title">Opciones</h2>

    <collapsed-card [hidden]="hiddenFormulary()"> 
      <app-dynamic-form
        [saveText]="isUpdate ? 'Actualizar' : 'Crear Nueva'"
        [fields]="configuracionCampos"
        [model]="opcionActual"
        [isLoading]="isLoading"
        [showDelete]="showDeleteButton(opcionActual?.idOpcion) && isUpdate"
        [showSave]="showSaveButton(opcionActual?.idOpcion)"
        [showCancel]="true"
        (save)="guardar()"
        (delete)="eliminar()"
        (cancel)="limpiarFormulario()"
      >
      </app-dynamic-form>
    </collapsed-card>

    @if (roleSecurity?.consultar) { 
      <hr class="divider" />

      <app-dynamic-table
        [columns]="columnasOpciones"
        [data]="opciones"
        [isLoading]="isLoading"
        [showExport]="roleSecurity?.exportar || false"
        [showPrint]="roleSecurity?.imprimir || false"
        [reportName]="'Reporte_Opciones_Sistema'"
        [hiddenAccion]="hiddenAction()"
        (actionSelect)="seleccionarParaEditar($event)"
      > 
      </app-dynamic-table>
    }
  </div>
</div>