<div class="center-page">

  <div class="page-container position-relative">

    <app-loader [isLoading]="isLoadingPage"></app-loader>

    <h2 class="page-title">Empresas</h2>

    <collapsed-card [hidden]="hiddenFormulary()">

      <app-dynamic-form
        [fields]="configuracionCampos"
        [model]="empresaActual"
        [isLoading]="isLoading"
        [showDelete]="showDeleteButton(empresaActual.idEmpresa)"
        [showSave]="showSaveButton(empresaActual.idEmpresa)"
        [showCancel]="true"
        (save)="guardar($event)"
        (delete)="eliminar(empresaActual.idEmpresa)"
        (cancel)="limpiarFormulario()"
      >
      </app-dynamic-form>

    </collapsed-card>


    @if (roleSecurity?.consultar) {

      <hr class="divider" />

      <app-dynamic-table
        [columns]="columnasEmpresas"
        [data]="empresas"
        [isLoading]="isLoading"
        [showExport]="roleSecurity?.exportar || false"
        [showPrint]="roleSecurity?.imprimir || false"
        [reportName]="'Reporte_Empresas_Sistema'"
        [hiddenAccion]="hiddenAction()"
        (actionSelect)="seleccionarParaEditar($event)"
      >
      </app-dynamic-table>

    }

  </div>

</div>