<div class="center-page">
  <div class="page-container position-relative">
    <app-loader [isLoading]="isLoadingPage"></app-loader> 

    <h2 class="page-title">Menús</h2>

    <collapsed-card [hidden]="hiddenFormulary()"> 
      <app-dynamic-form
        [saveText]="isUpdate ? 'Actualizar' : 'Crear Nuevo'"
        [fields]="configuracionCampos"
        [model]="menuActual"
        [isLoading]="isLoading"
        [showDelete]="showDeleteButton(menuActual?.idMenu) && isUpdate"
        [showSave]="showSaveButton(menuActual?.idMenu)"
        [showCancel]="true"
        (save)="guardar()"
        (delete)="eliminar()"
        (cancel)="limpiarFormulario()"
      >
      </app-dynamic-form>
    </collapsed-card>

    @if (roleSecurity?.consultar) { 
      <hr class="divider" />

      <app-dynamic-table
        [columns]="columnasMenus"
        [data]="menus"
        [isLoading]="isLoading"
        [showExport]="roleSecurity?.exportar || false"
        [showPrint]="roleSecurity?.imprimir || false"
        [reportName]="'Reporte_Menus_Sistema'"
        [hiddenAccion]="hiddenAction()"
        (actionSelect)="seleccionarParaEditar($event)"
      > 
      </app-dynamic-table>
    }
  </div>
</div>