<div class="center-page">
  <div class="page-container position-relative">
    <h2 class="page-title">Géneros</h2>

    <div class="form-card">
      <form (ngSubmit)="guardar()" #generoForm="ngForm">
        <div class="row align-items-end g-3">
          <div class="col-8">
            <custom-input
              id="nombre"
              name="nombre"
              label="Nombre"
              placeholder="Ej: Masculino"
              [(ngModel)]="generoActual.nombre"
              [disabled]="isLoading"
              required
            >
            </custom-input>
          </div>
        </div>

        <div class="action-buttons">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!generoForm.valid || isLoading"
          >
            Guardar
          </button>

          <button
            type="button"
            class="btn btn-danger"
            *ngIf="generoActual.idGenero"
            (click)="eliminar(generoActual.idGenero)"
            [disabled]="isLoading"
          >
            Eliminar
          </button>

          <button
            type="button"
            class="btn btn-outline-secondary"
            *ngIf="generoActual.idGenero"
            (click)="limpiarFormulario()"
            [disabled]="isLoading"
          >
            Cancelar
          </button>
        </div>
      </form>
    </div>

    <hr class="divider" />

    <app-dynamic-table
      [columns]="columnasGeneros"
      [data]="generos"
      [isLoading]="isLoading"
      (actionSelect)="seleccionarParaEditar($event)"
    >
    </app-dynamic-table>

  </div>
</div>
